*{
    margin: 0;
    padding: 0;
}
#logo img{
    position: fixed;
    left: 0;
    top: 0;
    height: 9.9vh;
}
#homepage{
    background-image: url(../img/homebackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.navbar{
    background: rgba(0, 0, 0, 0);
    height:10vh;
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
    text-align: center;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    /* border: 1px solid black ; */
}
.navbar a{
    text-decoration: none;
    color: black;
    transition: 0.7s;
}
.navbar li{
    font-size: 2vw;
    padding:1.5vh;
    margin-left: 1vw;
    margin-right: 2vw;
    border-radius: 3px;
    transition: 0.7s;
}
#homenav li:hover{
    background: rgba(255, 255, 255, 0.4);
}
#pagenav li:hover{
    background: black;
    cursor: pointer;
}
#pagenav li:hover a{
    color: white;
}
#pagenav li.current{
    border: 1px solid black;
    border-right: 1px solid black;
}
#pagenav li .current:hover{
    cursor: default;
}
#slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 72vh;
    font-family: 'Quicksand', sans-serif;
}
#slogan h1{
    font-size: 6vw;
}
#slogan h2{
    font-size: 4vw;
    color: white;
}
#mainbutton{
    position: fixed;
    text-align: center;
    height: 10vh;
    width: 100%;
    top: 68vh;

}
#mainbutton a{
    border: 1.5px solid white ;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    font-family: 'Quicksand', sans-serif;
    height:10vh;
    padding: 2vh 6vh;
    margin: 0 9vw;
    transition: 0.5s;
}
#mainbutton a:hover{
    background: rgba(255, 255, 255);
    color: black;
}

#googleMap{
    width:80vw;
    height:90vh;
}
#mappage{
    display: flex;
    flex-direction: column;
}
#mapsection{
    display: flex;
}
#mapnavdiv{
    width: 20vw;
    border-right: 1px solid black;
}
#mapnav{
    height: 100%;
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 10px;
}
#mapnav li{
    width: 95%;
    font-size: 3vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#mapnav li:hover{
    background: black;
    cursor: pointer;
}
#mapnav li:hover a{
    color: white;
}
#popup{
    font-size: 30px;
}